<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.description }}"
      class="img-responsive"
      style="max-width: 300px"
    />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xm-12">
    <button
      class="btn btn-primary"
      (click)="onAddToShoppingList()"
      style="cursor: pointer"
    >
      Shopping list
    </button>
    <button class="btn btn-success" style="cursor: pointer">Edit</button>
    <button class="btn btn-danger" style="cursor: pointer">Delete</button>
  </div>
</div>
